<!DOCTYPE html>
<html>
    <head>
        <title>Demo Application</title>
    <script language="javascript" type="text/javascript">
        function OnButtonClick() {
            yourname = document.getElementById("yourname");
            window.location.href = yourname.value
        }
    </script>
    </head>
    <body>
        <p>あなたの名前:
            <input type="text" name="yourname" id="yourname">
        </p>
        <button type="submit" onclick="OnButtonClick()">join</button>
    </body>
</html>
